@import '../../globalStyles/variables';

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  margin-bottom: 100px;

  h3 {
    margin-bottom: 56px;
  }
}

.inverted .notInverted {
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90vw;
  height: 370px;

  position: relative;

  margin-bottom: 48px;
  border-radius: 15px;

  overflow: hidden;

  > a {
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;

  width: 100%;
  height: 100%;

  overflow: hidden;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: linear-gradient(315deg, rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.938));

  border-radius: 15px;

  position: absolute;

  h4 {
    font-size: 1.6em;
    margin-bottom: 16px;
    flex: 1;
  }

  p {
    text-overflow: ellipsis;
    width: 100%;
    padding: 24px;
    font-weight: 500;
  }
}

.card__links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 8px;

  svg {
    width: 30px;
    height: 30px;
    height: 30px;

    margin: 0 8px;

    transition: ease 0.5;
  }

  svg:hover {
    transform: scale(1.2);
  }
}

.card__stack_icons {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  svg {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }
}

@media (min-width: 480px) {
  .card {
    width: 80vw;
  }
}

@media (min-width: 770px) {
  .card {
    width: 70vw;
    max-width: 970px;
    flex-direction: unset;
    justify-content: flex-end;

    margin-bottom: 64px;

    > a {
      max-width: 47%;
    }

    img {
      height: 100%;
      width: 100%;
      float: right;

      position: relative;
      z-index: 5;
    }
  }

  .card__details {
    width: 65%;

    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    top: 0;
    bottom: 0;
    background-color: transparent;
    background: unset;

    p {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 8px;

      position: relative;
      z-index: 6;
    }
  }

  .inverted {
    flex-direction: row-reverse;
    right: 0;

    p {
      background: linear-gradient(
        315deg,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.2)
      );
    }

    .card__details {
      right: 0;
    }

    .card__links {
      justify-content: flex-end;
    }

    .card__stack_icons {
      padding-left: 75px;
    }
  }

  .notInverted {
    p {
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.2)
      );
    }

    .card__details {
      left: 0;
    }

    .card__stack_icons {
      padding-right: 75px;
    }
  }

  .card__stack_icons {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: 1080px) {
  .card {
    margin-bottom: 100px;
  }

  .card__details {
    width: 55%;
  }

  .inverted {
    .card__stack_icons {
      padding-left: 20px;
    }
  }

  .notInverted {
    .card__stack_icons {
      padding-right: 20px;
    }
  }
}
