$theme: (
  home-background: #070906,
  background: #1d1d1d,
  // background: #313131,
  text: #cccccc,
  drop-shadow: #636363,
  container-border: #585858,
  button-border: #cccccc,
  // card-background: #dfc902f1,
  // card-background: #998a01f1,
  card-background: #330800f1,
  // card-background: #691909ee,
);
