@import '../../globalStyles/variables';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 100px;

  width: 100%;
  min-height: 100vh;

  position: relative;

  h3 {
    width: 100%;
    text-align: start;

    padding: 0 5vw;
    margin-bottom: 32px;
  }
}

.about__introduction {
  width: 90vw;

  margin-bottom: 56px;
}

.about__logo_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1080px;

  border: 1px solid map-get($theme, container-border);
  border-radius: 15px;

  margin: 0 5vw;
  padding-top: 32px;

  position: relative;

  h4 {
    position: absolute;
    top: -16px;
    left: 16px;

    background-color: map-get($theme, background);

    padding: 0 8px;

    font-size: 1.6em;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 8px 16px 8px;
  }

  svg {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 480px) {
  .about {
    h3 {
      padding: 0 10vw;
    }
  }

  .about__introduction {
    width: 80vw;
  }

  .about__logo_list {
    margin: 0 10vw;

    svg {
      height: 75px;
      width: 75px;
    }
  }
}

@media (min-width: 770px) {
  .about {
    h3 {
      padding: 0 15vw;
    }
  }

  .about__introduction {
    width: 70vw;
  }

  .about__logo_list {
    margin: 0 15vw;

    svg {
      height: 100px;
      width: 100px;
    }
  }
}
