.home {
  display: flex;
  align-items: center;
  background-image: url('../../../public/background/ink.webp');
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  padding-top: 64px;
}

.home__banner {
  width: 100%;

  h1 {
    font-size: 3.1em;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .home__banner {
    h1 {
      font-size: 2.3em;
    }
  }
}

@media (min-width: 768px) {
  .home__banner {
    h1 {
      font-size: 5em;
    }
  }
}

@media (min-width: 1080px) {
  .home__banner {
    h1 {
      font-size: 6em;
    }
  }
}

@media (min-width: 1780px) {
  .home__banner {
    h1 {
      font-size: 8em;
    }
  }
}
